html {
  background: #f2f2f2;
}

.scroll-container,
.scroll-area {
  padding:0px;
  width: 100%;
  height: 100vh;
  height: 100svh;
  font-size: 60px;
}

.scroll-container {
  overflow: auto;
  scroll-snap-type: y mandatory;
}

.scroll-area {
  scroll-snap-align: start;
}

.scroll-container,
.scroll-area {
  margin: 0 auto;
}

.scroll-area {
  display: flex;
 /* align-items: center;
  justify-content: center;*/
  font-size:0.75em;
  color: white;
  scroll-snap-align: start;
  font-family: 'Noto Sans KR', sans-serif;
background-attachment:fixed!important;
}


.scroll-area > span {
    display: flex;
 align-items: flex-end;
  margin:3%;
}

.scroll-area:nth-of-type(1) {
  background: url("https://images.unsplash.com/photo-1425913397330-cf8af2ff40a1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80") no-repeat center;
  background-size: cover;
}

.scroll-area:nth-of-type(2) {
  background: url("https://images.unsplash.com/photo-1465146344425-f00d5f5c8f07?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80") no-repeat center;
  background-size: cover;
}

.scroll-area:nth-of-type(3) {
  background: url("https://images.unsplash.com/photo-1475924156734-496f6cac6ec1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80") no-repeat center;
  background-size: cover;
}

.scroll-area:nth-of-type(4) {
  background: url("https://images.unsplash.com/photo-1505765050516-f72dcac9c60e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80") no-repeat center;
    background-size: cover;
}

.wrapper {
  height:100%;
  overflow-y:auto;
  overflow-x: hidden;
  perspective:1rem;
}

.wrapper .scroll-area {
  min-height: 100%;
}

canvas{
  background:white;
}

.dd{
  width:400px;
  display:flex;
 align-items:center;
}
